{% extends 'blog/base.html' %}

{% block content %}
	{% if user.is_authenticated %}
		<a class="btn btn-default pull-right" href="{% url 'artist_new' %}">New Artist</a>
	{% endif %}
	{% for artist in object_list %}
	    {% if user.is_authenticated %}
			<a class="btn btn-default pull-right" href="{% url 'artist_edit' artist.pk %}">Edit Artist</a>
	    {% endif %}
		    <div class="post">
		        <h3><a href="{% url 'album_list' artist.pk %}">{{ artist.name }}</a></h3>
		    </div>
	{% endfor %}
{% endblock content %}